/* IMAGENES PRINCIPALE EDIFICIOS Y CAMAROGRAFO */
.header {
  background-image: url('../img/Enmascarar grupo 4.png'), url('../img/background-inicio.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 100%;
  background-position: right, top;
  height: 135vh;
}

/* logo */
.img-responsive {
  width: 100%;
  max-width: 260px
}

/* ............................... */
/* #Navbar */
.navbar {
  padding: 2.5rem 1rem 0 1rem;
}

/*padding de links del navbar*/
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 4.5rem;
  font-size: 1.2rem;
}

ul li:last-child>a {
  padding-right: 7.5rem !important;
}

/*..............................*/
/* icono de inicio */
.svg-inline--fa.fa-w-14 {
  margin-right: 8px;
  color: #324e6f;
}

.form-hero {
  display: flex;
  align-items: center;
  height: 50vh;
}

.box-form-hero {
  margin-left: 20px;
}

.box-input-hero {
  display: flex;
}

.i-form-hero {
  padding: 25px 10.75rem;
  line-height: 3.5;
  border: 1px solid transparent;
  border-radius: 2.25rem;
}

.image-look {
  margin-left: 10px;
}

/* #Navbar */
/* MODELO DE CAJA */
/* .box{
  width: 100%;
  max-width:1080px;
} */
.font-hero {
  color: #7e7e7e;
  font-size: 4.5em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

/* TITULO 1 */
.title-sale {
  color: #7e7e7e;
  font-size: 2.5em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 2.5rem 0;
}

/* Font-cards */
.title-card {
  color: #7c7c7c;
  font-size: 1.5em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.font-company {
  color: #afafaf;
  font-size: 1.0em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.font-city {
  color: #adadad;
  font-size: .9em;
  font-family: 'Noto Sans', sans-serif;
}

/* TITULO 2 */
.title-how-are {
  color: white;
  font-size: 2.5em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding-top: 30rem;
  padding-bottom: 5rem;
}

/* fonts cv- */
.cv-font {
  color: #acacac;
  font-size: 4.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  line-height: 1;
}

.cv-d-font {
  color: #757575;
  font-size: 2.2rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

/* numbers section 3 */
.numbers {
  color: white;
  font-size: 4.5em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

/* font numbers */
.font-numbers {
  color: #a48a59;
  font-size: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

/* font gestion de empleos */
.title-g-empleos {
  color: #a48a59;
  font-size: 2.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.font-g {
  color: white;
  font-size: 1.8em;
  font-family: 'Noto Sans', sans-serif;
}

/*  */
.font-company-sub {
  color: #afafaf;
  font-size: 1.5em;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

/* font-i CV */
.font-i {
  color: #acacac;
  font-size: 4.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  line-height: 1;
}

/* FONT-FOOTER */
.font-footer {
  color: white;
  font-size: 1.0rem;
  font-family: 'Noto Sans', sans-serif;
  margin-left: 20px;
}

.font-footer-reservados {
  color: #797979;
  font-size: 1.4rem;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 50px;
  text-align: center;
}

/* font-text-carousel-2 */
.font-carousel-2 {
  color: #adadad;
  font-size: 1.0em;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

.title-name-carousel {
  color: #7c7c7c;
  font-size: 1.5em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.font-descrition {
  color: #7c7c7c;
  font-size: 1.2em;
  font-family: 'Noto Sans', sans-serif;
}

/* SECTION-1 */
/* PRIMER CARUSEL */
.carousel-contenedor {
  display: block;
  margin: auto;
  width: 85%;
}

.carousel {
  /* border: 1px solid gray; */
  border-radius: 10px;
  /* height:50vh; */
  width: 50%;
}

/* .carousel-reset {
  border: 1px solid gray;
  border-radius: 10px;
  height: 50vh;
  width: 50%;
} */
/* IMAGEN DE CAROUSEL Y BOTON */
.firts {
  position: relative;
  z-index: 1;
}

.second {
  position: relative;
  z-index: 2;
  bottom: 230px;
  left: 10px;
}

/* CARD */
.card {
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  margin: auto;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(1.25rem - 1px);
  border-top-right-radius: calc(1.25rem - 1px);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .5rem 1.25rem 2rem 1.25rem;
}

/* contenedor icono de corazon */
.box-card {
  display: flex;
}

.box-location {
  display: flex;
}

/* icono de corazon */
.heart {
  color: #9f9f9f;
  font-size: 1.5em;
  margin-right: 5px;
}

.location {
  color: #9f9f9f;
  font-size: 1.5em;
  margin-right: 5px;
}

/* mensaje en picture */
.badge-warning {
  color: white;
  background-color: #e6a92a;
  font-weight: 800;
}

.badge {
  width: 25%;
  line-height: 3;
  font-size: .9em;
  border-radius: 15px;
  padding: 0;
}

.slick-prev:before {
  content: url('../img/arrow-back.svg') !important;
}

.slick-next:before {
  content: url('../img/arrow-front.svg') !important;
}

.slick-slide {
  margin-right: 14px;
  margin-left: 14px;
  width: 380px;
}

.slick-prev {
  left: -45px;
  top: 40%;
}

.slick-next {
  right: -45px;
  top: 40%;
}

/* RESET */
.app {
  margin-bottom: 100px;
}

/* section 2*/
/* box font cv */
.box-font-cv {
  display: block;
  padding-top: 100px;
}

/* BOTTOM */
.btn-block {
  display: block;
  width: 56%;
  background-color: #083971;
  color: white;
  line-height: 2.5rem;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 1.0rem;
}

/* section 3 */
.cv-background-blue {
  background-image: url('../img/background-azul.svg');
  background-repeat: no-repeat;
  height: 128vh;
  position: relative;
  z-index: 1;
  bottom: 200px;
}

.box-map {
  margin-top: 100px;
}

.box-iframe-map {
  position: relative;
  z-index: 1;
}

.box-map-back {
  position: relative;
  width: 50%;
  margin: auto;
  z-index: 2;
  bottom: 50px;
  left: 25px;
  text-align: center;
}

/* sectiion 4 */
.i-company {
  background-image: url('../img/edificios.svg');
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
  z-index: 2;
  top: 300px;
}

.box-company {
  /* margin-bottom:100px; */
  position: relative;
  height: 5vh;
}

/* section 5 */
.box-testimony {
  background-image: url('../img/background-testimonio.svg');
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 1;
  bottom: -10px;
}

/* form button */
.bt-enviar {
  margin-left: 25%;
}

.i-form {
  padding: 25px .75rem;
  line-height: 3.5;
  border: 1px solid black;
  border-radius: 1.25rem;
}

.i-form-text {
  padding: 10px .75rem;
  line-height: 2.5;
  border: 1px solid black;
  border-radius: 1.25rem;
}

.carousel-contenedor-2 {
  display: block;
  margin: auto;
  width: 75%;
  position: relative;
  z-index: 4;
  top: 400px;
}

.carousel-2 {
  height: 35vh;
  width: 100%;
  margin-bottom: 50px;
}

.c-reset {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  border-radius: 50%;
  position: relative;
  z-index: 2;
  right: 20px;
}

.box-carousel-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
}

.card-reset {
  background-color: white;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.card-reset-2 {
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.box-name {
  position: relative;
  z-index: 1;
}

.box-img-comillas {
  position: relative;
  z-index: 2;
  left: 78%;
}

/* FOOTER */
.footer {
  background-color: #1e1e1e;
  height: 40vh;
  position: relative;
  z-index: 3;
  top: 10px;
  display: flex;
  align-items: center;
}

.footer-1 {
  margin-bottom: 50px;
}

.item-footer {
  display: flex;
  color: white;
  /* border: 1px solid white; */
  justify-content: center;
  align-items: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* CAROUSEL..............MEDIA QUERYS................. */
@media only screen and (max-width: 1921px) and (min-width:1500px) {

  /* IMAGENES PRINCIPALE EDIFICIOS Y CAMAROGRAFO */
  .header {
    background-size: auto, 100%;
    height: 140vh;
  }

  /* #Navbar */
  .navbar {
    padding: 2.5rem 1rem 0 5rem;
  }

  /*padding de links del navbar*/
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 8.5rem;
  }

  ul li:last-child>a {
    padding-right: 8.5rem !important;
  }

  .form-hero {
    width: 70%;
  }

  .font-hero {
    color: #7e7e7e;
    font-size: 3.5em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
  }

  .box-form-hero {
    margin-left: 100px;
  }

  .cv-download {
    height: 75vh;
    position: relative;
    z-index: 2;
  }

  .box-input-hero {
    display: flex;
  }

  .i-form-hero {
    padding: 25px 8.75rem;
    line-height: 3.5;
    border: 1px solid transparent;
    border-radius: 2.25rem;
  }

  .image-look {
    margin-left: 10px;
  }

  /*.........................................*/
  .title-sale {
    padding-top: 0.5rem;
  }

  .carousel-contenedor {
    width: 79%;
  }

  .slick-slide {
    margin-right: 14px;
    margin-left: 14px;
    width: 358px;
  }

  /* centrar iframe map */
  .box-iframe-map {
    text-align: center;
  }

  .box-numb {
    display: block;
  }

  iframe {
    width: 80% !important;
  }

  .box-map-back {
    position: relative;
    width: 50%;
    margin: auto;
    z-index: 2;
    /* bottom:80px; */
    left: 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 1499px) and (min-width:1024px) {

  /* IMAGENES PRINCIPALE EDIFICIOS Y CAMAROGRAFO */
  .header {
    background-size: 45%, 100%;
    background-position: right, top;
    height: 150vh;
  }
  .form-hero {
    display: flex;
    align-items: center;
    height: 195vh;
}
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 2.0rem;
  }
.i-form-hero{
  background: #7e7e7e;
}
  .form-hero {
    width: 50%;
  }

  .font-hero {
    font-size: 3.0em;
  }

  /*.........................................*/
  .carousel-contenedor {
    width: 85%;
  }

  .slick-slide {
    margin-right: 30px;
    margin-left: 30px;
    width: 340px;
  }

  /* section 2*/
  /* box font cv */
  .box-font-cv {
    display: block;
    padding-top: 10px;
    height: 45vh;
    position: relative;
    z-index: 5;
    margin: auto;
  }

  .cv-background-blue {
    bottom: 50px;
    height: 170vh;
  }

  .cv-font {
    text-align: center;
    color: #e6a92a;
  }

  .cv-d-font {
    text-align: center;
    color: #239aff;
  }
  .title-sale {

    padding: .5rem 0 2.5rem 0;
}

  .btn-block {
    background-color: #e6a92a;
    margin: auto;
  }

  /* sectiion 4 */
  .i-company {
    background-image: url('../img/edificios.svg');
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    z-index: 2;
    top: 250px;
  }

  .box-company {
    position: relative;
    height: 50vh;
  }

  /* section 5 */
  .box-testimony {
    background-image: url('../img/background-testimonio.svg');
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
    bottom: -10px;
    z-index: 1;
  }

  .cv-download {
    margin: auto;
    text-align: center;
  }

  .box-cv {
    display: block;
  }

  .img-cv {
    width: 90%;
  }

  /*  */
  .title-how-are {
    padding-top: 20rem;
  }

  .font-i {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 50px;
  }

  .font-company-sub {
    text-align: center;
  }

  .box-iframe-map {
    text-align: center;
  }

  .title-g-empleos {
    text-align: center;
  }

  .font-g {
    text-align: center;
    color: #e6a92a;
  }

  iframe {
    width: 70% !important;
  }

  .box-map-back {
    position: relative;
    width: 50%;
    margin: auto;
    z-index: 2;
    bottom: 150px;
    left: 25px;
  }

  .form-i-center {
    margin: auto;
  }

  .carousel-contenedor-2 {
    width: 85%;
  }

  .box-carousel-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
  }

  .c-reset {
    height: 45vh;
  }

  .slick-slide {
    margin-right: 50px;
    margin-left: 10px;
  }

  .title-name-carousel {
    font-size: 1.2em;
  }

  .card-img {
    right: -10px;
  }
}

@media only screen and (max-width: 480px) {

  /* HEARDER */
  .header {
    background-size: 50%, 100%;
    height: 70vh;
  }

  .title-sale {
    padding: 1.5rem 0 2.5rem 0;
  }

  .carousel-contenedor {
    width: 75%;
  }

  .form-hero {
    height: 80vh;
    width: 100%;
  }

  .i-form-hero {
    padding: 25px 6.75rem;
    background: #7e7e7e;
    color: white;
  }

  .font-hero {
    color: #7e7e7e;
    font-size: 2.5em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
  }

  .font-g {
    color: #e6a92a;
    text-align: center;
  }
  .title-g-empleos{
    color: #e6a92a;
  }

  .box-font-cv {
    text-align: center;
    padding-top: 10px;
  }

  .btn-block {
    margin: auto;
  }

  .title-how-are {
    padding-top: 4.5rem;
  }

  .numbers {
    color: #e6a92a;
  }

  .font-numbers {
    color: #e6a92a;
  }

  .box-carousel-2 {
    height: 30vh;
  }

  .carousel-contenedor-2 {
    display: block;
    margin: auto;
    width: 80%;
    position: relative;
    z-index: 4;
    top: 400px;
  }

  .carousel-2 {
    height: 35vh;
    width: 50%;
    margin-bottom: 20px;
  }

  .cv-background-blue {
    background-image: url(../img/background-azul.svg);
    background-repeat: no-repeat;
    height: 200vh;
    z-index: 1;
    bottom: 10px;
  }

  .box-map-back {
    bottom: 250px;
  }

  .img-cv {
    width: 100%;
  }

  iframe {
    width: 100% !important;
  }

  .box-company {
    margin-bottom: 130px;
    text-align: center;
    height: 50vh;
  }

  .i-company {
    margin-top: 10px;
    background-size: 200%;
    height: 25vh;
  }

  .box-testimony {
    height: 140vh;
    position: relative;
    z-index: 1;
    bottom: 10px;
  }

  .box-carousel-2 {
    height: 55vh;
  }

  .c-reset {
    height: 30vh;
  }

  .box-carousel-2 {
    display: block;
    /* flex-direction: column; */
    /* justify-content: center; */
  }

  .card-img {
    border-radius: 50%;
    position: relative;
    z-index: 2;
    right: 0px;
    width: 60%;
    margin: auto;
  }

  .box-img-comillas {
    position: relative;
    z-index: 2;
    left: 30%;
  }

  .footer {
    height: 60vh;
  }

  .item-footer {
    display: block;
    color: white;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .img-mb-footer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer {
    height: 95vh;
    top: 0px;
  }
}
